<% layout('/layouts/boilerplate') -%>

    <main class="min-h-[calc(100vh-4rem)] flex items-center">

        <div
            class=" max-w-4xl mx-auto my-12 rounded-md bg-neutral-primary-soft p-8 border rounded-base shadow-2xl flex flex-col md:flex-row items-start gap-6 lg:h-[60vh]">

            <img class="object-cover  rounded-md w-full md:w-64 lg:w-72 h-64 lg:h-full flex-shrink-0 rounded-base"
                src="<%= listing.image.url %>" alt="<%= listing.title %>">
            <div class="flex-1 h-full flex flex-col justify-between md:p-6 leading-normal text-left">

                <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">
                    <%= listing.title %>
                </h3>
                <p class="mb-6 text-body max-w-xl">
                    <%= listing.location %> , <%= listing.country %>
                </p>
                <p class="mb-6 text-body max-w-xl">
                    <%= listing.description%>
                </p>
                <p class="font-semibold text-slate-800 max-w-xl">&#8377;<%= listing.price.toLocaleString('en-IN') %>
                </p>
                <div class="mt-4 flex flex-col sm:flex-row gap-3 items-center sm:items-start">
                    <form action="/listings/<%= listing._id %>/edit" method="get">
                        <button
                            class=" btn-edit w-full sm:w-auto cursor-pointer inline-flex items-center w-auto text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                            EDIT
                            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                            </svg>
                        </button>
                    </form>
                    <form method="post" action="/listings/<%=listing._id %>?_mehtod=delete">

                        <button
                            class=" btn-danger w-full sm:w-auto cursor-pointer inline-flex items-center w-auto text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                            DELETE
                            <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                            </svg>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </main>
    <hr>
    <div class="max-w-xl mx-auto ">
        <div class=" h-full  md:p-6 leading-normal text-left">
            <form action="/listings/<%= listing._id %>/reviews" method="POST">
                <h3>write review</h3>
                <label for="range">rating</label><br>
                <input type="range" min="1" max="5" name="review[rating]"> <br>

                <label for="comment" class="block mb-2.5 text-sm font-medium text-heading">Your message</label>
                <textarea id="comment" rows="4" name="review[comment]"
                    class="bg-neutral-secondary-medium border border-default-medium mb-3 text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-s placeholder:text-body"
                    placeholder="Write your thoughts here..." required></textarea>

                <button
                    class=" btn-edit w-full sm:w-auto cursor-pointer inline-flex items-center w-auto text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                    SUBMIT REVIEW
                    <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="review max-w-3xl mx-auto ">
        <p><b>All Reviews</b></p>
        <div class="review-card  grid grid-cols-2  ">
            <% for(review of listing.reviews){ %>
                <div
                    class="bg-neutral-primary-soft block  ms-3 mr-3 p-3 mb-5 border border-default rounded-base shadow-xs">
                    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">Pritish</h5>
                    <p class="text-body mb-6">
                        <%= review.comment %> ,<br><br>
                            <%= review.rating %> star
                    </p>
                </div>
                <% } %>
        </div>

    </div>